{% extends 'base.html' %}

{% block title %}
    {% if asset %}Edytuj Sprzęt{% else %}Dodaj Sprzęt{% endif %} | IT Assets
{% endblock %}

{% block content %}
<div class="container" style="max-width: 1000px;">
    <h2 class="mb-4">{% if asset %}Edycja sprzętu: {{ asset.name }}{% else %}Dodaj nowy sprzęt IT{% endif %}</h2>
    
    <form method="POST" class="card p-4 shadow-sm position-relative">
        {% csrf_token %}
        
        {% if asset %}
        <div class="position-absolute top-0 end-0 p-3">
            <a href="{% url 'asset_delete' asset.pk %}" class="btn btn-sm btn-outline-danger">
                <i class="bi bi-trash"></i> Usuń Sprzęt
            </a>
        </div>
        {% endif %}

        {% for field in form %}
            <div class="mb-3">
                <label class="form-label fw-bold">{{ field.label }}</label>
                {% if field.name == 'device_model' %}
                    <div class="input-group">
                        {{ field }}
                        <button type="button" class="btn btn-outline-success" hx-get="{% url 'add_device_model_htmx' %}" hx-target="#dialog" data-bs-toggle="modal" data-bs-target="#modal">
                            + Dodaj Model
                        </button>
                    </div>
                {% elif field.name == 'purchase_order' %}
                    <div class="input-group">
                        {{ field }}
                        <button type="button" class="btn btn-outline-success" hx-get="{% url 'add_purchase_order_htmx' %}" hx-target="#dialog" data-bs-toggle="modal" data-bs-target="#modal">
                            + Dodaj Zamówienie
                        </button>
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}
            </div>
        {% endfor %}
        
        <div class="mt-4">
            <a href="{% url 'asset_list' %}" class="btn btn-secondary">Anuluj</a>
            <button type="submit" class="btn btn-primary">{% if asset %}Zapisz Zmiany{% else %}Zapisz Sprzęt{% endif %}</button>
        </div>
    </form>
</div>

<div id="modal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"><div class="modal-content" id="dialog"></div></div>
</div>
<script>
    document.body.addEventListener('closeModal', function() {
        var modal = bootstrap.Modal.getInstance(document.getElementById('modal'));
        modal.hide();
    });
</script>
{% endblock %}